{% extends "base.html" %} 
{% block content %}
      <div class="container">
            {{object.titulo}}
            <ul>
                  <li><a href=" {% url 'actualiza-post' object.slug %} ">Actualizar</a></li>
                  <li><a href=" {% url 'borra-post' object.slug %}">Borrar</a></li>
            </ul>
            <p>
                  <span>Vistas: {{ object.get_visualizacion_count }}</span>
                  <span>Likes:  {{ object.get_like_count }}</span>
                  <span>Comentarios:  {{ object.get_comentario_count }}</span>
            </p>
            <p>
                  Visto por ultima vez: {{ object.get_last_view_post|timesince }} atras
            </p>
            <p>
                  {{ object.fec_publicacion|timesince }} atras
            </p>
            <p>
                  {% if object.fec_publicacion == object.fec_publicacion  %}
                  Sin actualizaciones
                  {% else %}
                        {{ object.fec_publicacion|timesince }} atras
                  {% endif %}
            </p>
            <p>
                  {{ object.contenido }}
            </p>
            <a href="{{ object.get_like_url  }}">Dame un like 🤘🏼</a> {{ object.get_like_count }}

            {% if request.user.is_authenticated %}
                  <p>Deja un comentario</p> 
                  <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Publicar comentario</button>
                  </form>
                  <p>Comentarios</p>
                  {% for comentario  in object.comentarios  %}
                        <div>
                              <p>
                                    {{ comentario.contenido }}
                                    <br/>
                                    <span>{{ comentario.fec_cmt|timesince }} atras</span>
                              </p>
                              <button class="comment-edit-btn" data-comment-id="{{ comentario.id }}">Editar</button>
                              <button class="comment-delete-btn" data-comment-url="{{ comentario.get_absolute_url }}">Eliminar</button>
                              <div class="comment-edit-form" style="display:none;">
                                    <form method="POST">
                                    {% csrf_token %}
                                    <textarea name="text">{{ comment.text }}</textarea>
                                    <button type="submit">Guardar</button>
                                    <button type="button" class="cancel-edit-btn">Cancelar</button>
                                    </form>
                              </div>
                        </div>
                  {% endfor %}
            {% endif %}
      </div>
{% endblock %}
