{% extends "base.html" %} {% block content %}
<div class="container-form">
  <h1 class="text-center text-3xl font-semibold">{{ view_type }} Post</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.titulo.id_for_label }}" class="label-form"
        >Título</label
      >
      <input
        type="text"
        name="{{ form.titulo.name }}"
        id="{{ form.titulo.id_for_label }}"
        class="form-control input-form"
        placeholder="Ingresa el título del post"
        value="{{ form.titulo.value|default:'' }}"
      />
    </div>
    <div class="form-group mt-6 mb-6">
      <label for="{{ form.contenido.id_for_label }}" class="label-form"
        >Contenido</label
      >
      <textarea
        type="text"
        name="{{ form.contenido.name }}"
        id="{{ form.contenido.id_for_label }}"
        class="form-control input-form h-64"
        placeholder="Ingresa el contenido del post"
      >
{{ form.contenido.value }}</textarea
      >
    </div>
    <div class="form-group mb-6">
      <label for="{{ form.autor.id_for_label }}" class="label-form"
        >Autor</label
      >

      <select
        name="{{ form.autor.name }}"
        id="{{ form.autor.id_for_label }}"
        class="form-control input-form"
      >
        <div>
          {% for autor in autores %} {% if autor.id == form.autor.value %}
          <option value="{{ autor.id }}" selected>{{ autor }}</option>
          {% else %}
          <option value="{{ autor.id }}">{{ autor }}</option>
          {% endif %}{% endfor %}
        </div>
      </select>
    </div>
    <button type="submit" class="button-form">Confirmar actualización</button>
  </form>
</div>
{% endblock %}
