{% extends "base.html" %} {% block content %}
<main
  class="grid gap-10 grid-cols-2 sm:grid-cols-2 md:grid-cols-3 px-6 xl:px-64 py-8 mx-auto"
>
  {% for object in object_list %}
  <a href="{{ object.get_absolute_url }}">
    <section
      class="bg-slate-100 rounded-lg transition duration-1000 ease-in-out transform hover:bg-indigo-300 hover:shadow-lg mx-auto drop-shadow-md shadow-lg shadow-slate-600/50 overflow-hidden sm:h-[300px] md:h-[350px] lg:h-[400px] xl:h-[450px] sm:w-full md:w-full lg:w-full xl:w-full"
    >
      <div class="flex flex-col h-full">
        <div class="relative h-48">
          <img
            class="absolute inset-0 w-full h-full object-cover px-2 py-2 border-black rounded-2xl"
            src="https://pbs.twimg.com/media/DKoGMBrWkAAwHIH?format=jpg&name=large"
            alt=""
          />
        </div>
        <div class="px-4 py-2 flex flex-col flex-grow">
          <div class="text-gray-600 font-medium mb-2">
            {{ object.fec_publicacion|timesince }} atras
          </div>
          <p
            class="text-2xl font-semibold text-gray-900 hover:text-gray-700 transition duration-300"
          >
            {{ object.titulo|default:".."|slice:":29" }}
            <span>{% if object.titulo|length > 29 %}...{% endif %}</span>
          </p>
          <p class="text-gray-600 mt-2 flex-grow">{{object.contenido}}</p>
        </div>
        <div class="flex items-center justify-around text-gray-600 px-4 py-3">
          <div class="flex items-center">
            👀<span> {{ object.get_visualizacion_count }}</span>
          </div>
          <div class="flex items-center">
            ☝🏼<span> {{ object.get_like_count }}</span>
          </div>
          <div class="flex items-center">
            📧
            <span> {{ object.get_comentario_count }}</span>
          </div>
          <div class="text-gray-600">
            <span
              >{% if object.fec_publicacion == object.fec_publicacion %} Sin
              actualizaciones {% else %} {{ object.fec_publicacion|timesince }}
              atras {%endif %}</span
            >
          </div>
        </div>
      </div>
    </section>
  </a>
  {% endfor %}
</main>
{% endblock content %}
