{% extends "base.html" %} {% load static %} {% block content %}
<main
  class="mx-auto grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-6 xl:px-[15rem] 2xl:px-96 py-8"
>
  {% for object in object_list %}
  <a href="{{ object.get_absolute_url }}">
    <section
      class="group bg-gradient-to-br from-slate-200 to-slate-300/50 rounded-lg transition duration-700 ease-in-out transform hover:bg-indigo-400 hover:shadow-lg mx-auto drop-shadow-md shadow-lg shadow-slate-600/50 overflow-hidden sm:h-[300px] md:h-[350px] lg:h-[400px] xl:h-[450px] sm:w-full md:w-full lg:w-full xl:w-full"
    >
      <div class="flex flex-col h-full">
        <div class="relative h-48">
          <img
            class="absolute inset-0 w-full h-full object-cover px-2 py-2 border-black rounded-2xl"
            src="https://pbs.twimg.com/media/DKoGMBrWkAAwHIH?format=jpg&name=large"
            alt="Imagen referente al blog"
          />
        </div>
        <div class="px-4 py-2 flex flex-col flex-grow">
          <div class="text-gray-600 font-medium mb-2">
            {{ object.fec_publicacion|timesince }} atras
          </div>
          <p
            class="text-2xl font-semibold text-gray-900 hover:text-gray-700 transition duration-300"
          >
            {{ object.titulo|default:".."|slice:":29" }}
            <span>{% if object.titulo|length > 29 %}...{% endif %}</span>
          </p>
          <p class="text-gray-600 mt-2 flex-grow">{{object.contenido}}</p>
        </div>
        <div
          class="flex items-center justify-around text-gray-600 px-4 py-3 transition duration-500 ease-in-out transform group-hover:bg-[#7b87c1]"
        >
          <div class="flex items-center text-black">
            <img
              class="object-cover border-black"
              src="{% static 'blog/img/vistas_personas.png' %}"
              alt="Numero de personas que han visto el blog"
            />{{ object.get_visualizacion_count }}
          </div>
          <div class="flex items-center text-black">
            <img
              class="object-cover border-black"
              src="{% static 'blog/img/likes.png' %}"
              alt="Numero de likes del blog"
            />
            {{ object.get_like_count }}
          </div>
          <div class="flex items-center text-black">
            <img
              class="object-cover border-spacing-3"
              src="{% static 'blog/img/comentarios.png' %}"
              alt="Numero de personas que han visto el blog"
            />
            {{ object.get_comentario_count }}
          </div>
          <div
            class="text-gray-600 hidden lg:block transition duration-500 ease-in-out transform group-hover:text-black group-hover:font-semibold"
          >
            @<span>{{ object.autor }}</span>
          </div>
        </div>
      </div>
    </section>
  </a>
  {% endfor %}
</main>
{% endblock content %}
