{% extends "base.html" %} {% load static %} {% block content %}
<div
  class="mx-6 xl:mx-60 px-20 py-6 my-5 bg-gradient-to-br from-indigo-200/25 to-blue-400/25 shadow-2xl shadow-black"
>
  <div
    class="text-center text-3xl font-semibold text-black border-b border-slate-900/50 pb-3"
  >
    {{object.titulo}}
  </div>
  <div class="relative h-[37rem] py-5">
    <img
      class="w-full h-full object-contain"
      src="https://pbs.twimg.com/media/DKoGMBrWkAAwHIH?format=jpg&name=large"
      alt="{{object.titulo}}"
    />
  </div>
  <div class="flex flex-wrap flex-row justify-start gap-7 px-5">
    <p class="font-semibold text-xl">@{{object.autor}}</p>
    <p class="font-semibold text-xl text-slate-800">
      {{object.fec_publicacion}}
    </p>
  </div>
  <div class="flex flex-wrap flex-row justify-start gap-7 px-5 py-3">
    <p class="font-semibold text-xl">
      <img
        class="object-cover border-black inline mr-2"
        src="{% static 'blog/img/vistas_personas.png' %}"
        alt="Numero de personas que han visto el blog"
      />{{ object.get_visualizacion_count }}
    </p>
    <a href="{{ object.get_like_url  }}" class="font-semibold text-xl"
      ><img
        class="object-cover border-black inline mr-2"
        src="{% static 'blog/img/likes.png' %}"
        alt="Numero de personas que han visto el blog"
      />{{ object.get_like_count }}</a
    >
    <p class="font-semibold text-xl">
      <img
        class="object-cover border-black inline mr-2"
        src="{% static 'blog/img/comentarios.png' %}"
        alt="Numero de personas que han visto el blog"
      />{{ object.get_comentario_count }}
    </p>
  </div>
  <div class="flex flex-wrap flex-row justify-start gap-7 px-5 pb-3">
    <a
      class="bg-green-400 px-5 py-2 rounded-lg font-medium"
      href=" {% url 'actualiza-post' object.slug %} "
      >Actualizar</a
    ><a
      class="bg-red-400 px-5 py-2 rounded-lg font-medium"
      href=" {% url 'borra-post' object.slug %}"
      >Borrar</a
    >
  </div>
  <div class="text-justify px-10 py-3 bg-slate-200">
    <p class="text-lg text-black">{{ object.contenido }}</p>
  </div>
  <div class="flex flex-wrap flex-col justify-start gap-3 px-4 pt-3">
    <p class="text-lg text-black">
      Ultima actualizacion: {{ object.fec_actualizacion }}
    </p>
    <p class="text-lg text-black">
      Visto por ultima vez: {{ object.get_last_view_post|timesince }} atras
    </p>
  </div>
  {% if request.user.is_authenticated %}
  <form method="POST">
    {% csrf_token %}
    <div class="form-group mt-6 mb-3">
      <label for="{{ form.contenido.id_for_label }}" class="label-form"
        >Comentarios</label
      >
      <textarea
        type="text"
        name="{{ form.contenido.name }}"
        id="{{ form.contenido.id_for_label }}"
        class="form-control input-form h-24"
        placeholder="Ingresa un comentario para el post"
        value="{{ form.contenido.value|default:'' }}"
      ></textarea>
    </div>
    <button type="submit" class="bg-green-400 px-5 py-2 rounded-md font-medium">
      Publicar comentario
    </button>
  </form>
  <div class="flex flex-wrap flex-col justify-start px-5">
    {% for comentario in object.comentarios %}
    <div
      class="flex flex-wrap flex-row justify-between mb-3 border-b border-slate-900/50 pb-2"
    >
      <div class="flex flex-wrap flex-row justify-evenly">
        <p class="text-lg text-black font-semibold">
          @{{ comentario }}:&nbsp&nbsp
        </p>
        <p class="text-lg text-black">{{ comentario.contenido }}</p>
      </div>
      <p class="text-lg text-black">{{ comentario.fec_cmt|timesince }} atras</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
