{% load static tailwind_tags %} {% load static %}

<html lang="es">
  <html>
    <head>
      <meta charset="UTF-8" />
      {% tailwind_css %}

      <title>Blopster - Blog</title>
      <link
        rel="icon"
        href="{% static 'blog/img/blopster/blopster-48.png' %}"
        type="image/png"
      />
    </head>

    <body class="bg-[#e6dacf]">
      <header>
        <nav
          class="mx-auto flex max-w-7xl items-center justify-between px-6 py-4 md:px-8"
          aria-label="Global"
        >
          <div class="flex md:flex-1">
            <a href=" {% url 'lista-posts' %} " class="-m-1.5 p-1.5">
              <span class="sr-only">Blopster</span>
              <img
                class=""
                src="{% static 'blog/img/blopster/blopster-48.png' %}"
                alt="Blopster - Mi Blog"
              />
            </a>
          </div>
          <div class="md:flex md:gap-x-12">
            <a href=" {% url 'lista-posts' %} " class="link-nav">Home </a>
            <a href=" {% url 'crea-post' %} " class="link-nav">Crear Blog</a>
            <a href="#" class="link-nav">Configurar</a>
            <a href="#" class="link-nav">About</a>
          </div>
          <div class="md:flex md:flex-1 md:justify-end">
            <a href="#" class="link-nav text-indigo-600 hover:text-green-600">
              Log in <span aria-hidden="true">&rarr;</span>
            </a>
          </div>
        </nav>
      </header>
      {% block content %} {% endblock %}
      <footer class="bg-slate-800">
        <p>Hola soy el footer</p>
      </footer>
    </body>
  </html>
</html>
